*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(image.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.all{
    position: absolute;
    width: 400px;
    height: 400px;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    border: 2px solid #042D63;
    color: white;
}
.login{
    text-align: center;
    font-size: 30px;
    padding: 20px;
}
.data{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    color: #007BFF;
}
.data input{
    width: 100%;
    height: 30px;
    padding: 5px;
    border-radius: 6px;
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.8);
    color: white;
    font-weight: bold;
}
.data input:focus{
    outline: none;
    border-color: #007BFF;
}
.data input::placeholder{
    color: whitesmoke;
}
.forgot{
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}
button{
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 10px 30px;
    border-radius: 100px;
    border: none;
    background: #007BFF;
    font-size: 19px;
    color: white;
    cursor: pointer;
}
button:hover{
    color: #007BFF;
    background: white;
}
a:hover{
    color: palevioletred;
}
.register{
    margin: 10px 0px;
    text-align: center;
}